@{
    ViewData["Title"] = "Principal";
}

    <div class="text-right">
        <h1 class="display-4">Bem Vindo</h1>
        <p>Primeira vez na plataforma? <a href="https://docs.microsoft.com/aspnet/core">Clique aqui e veja como tudo funciona</a>.</p>
    </div>

    <h1 class="display-4 text-left">Últimas Atividades</h1>
    <div class="row">
        @foreach (Atividade atividade in @ViewData.Model)
         {
            <partial name="_DisplayAtividade" model="atividade" />
         }
    </div>    
