@{
    ViewData["Title"] = "Política";
}
<h1>@ViewData["Title"]</h1>

<p>A PortalAcessibilidade garante aos usuários seu direito de usufruir de todos recursos apresentados na plataforma afim de promover o bem estar da sociedade através da tecnologia atual e mitigar os problemas causados pelo distânciamento do acesso a consulta profissional....</p>
