@{
    ViewData["Title"] = "Quem Somos";
}
<h1>@ViewData["Title"]</h1>

<p>Um grupo de estudantes do 4° ano de Engenharia da Computação que desenvolveram inicialmente uma ferramenta de auxílio a diversos casos de ...</p>
