@{
    ViewData["Title"] = "Quem Somos";
}
<h1>@ViewData["Title"]</h1>

<p>Um grupo de estudantes do 4° ano de Engenharia da Computação que desenvolveram inicialmente uma ferramenta de auxílio a diversos casos de daltonismo...</p>
<div class="col-md-12">

    <img class="img-fluid" src="~/Images/QuemSomos.jpg" asp-append-version="true" />

</div>

<h1>Nossa Pesquisas</h1>

<p> ...</p>