@model Ferramenta
    
                 
           
<div class="col-md-6 text-right">
                
    <h1>Qual número você vê?</h1>   
    <div class="form-group">        
        <input type="text" class="form-control" id="valor" aria-describedby="valor" placeholder="Pode inserir qualquer valor :)">        
    </div>
    <p><a class="btn btn-outline-dark" href="#" role="button">Próximo</a>
       <a class="btn btn-outline-dark" href="#" role="button">Não vejo nenhum número</a></p>
            
</div>
            
<div class="col-md-6 text-left">
                
    <img class="img-fluid" src="~/Images/Atividades/Oftalmologia/Ferramentas/@Model.Nome/02.png" asp-append-version="true" />
            
</div>                        